<div class="row">
  <div class="col-sm-6 text-center" id="sourceImg">
      <ngx-image-zoom
          [thumbImage]= "productDetails.path"
          [zoomMode] = "'hover'"
          [magnification]="5"
      ></ngx-image-zoom>
  </div>
    <div class="col-sm-6">
      <h2 class="product-title">{{productDetails.name}}</h2>
        <ul class="product-session list-unstyled">
            <li>
                <strong>Brand :</strong>
                <span>{{productDetails.brand}}</span>
            </li>
            <li>
                <strong>Product Model :</strong>
                <span>{{productDetails.model}}</span>
            </li>
            <li>
                <strong>Availability :</strong>
                <span>In Stock</span>
            </li>
            <li>
                <strong>Quantity :</strong>
                <span>
               <input type="number"  name="quantity" [min]="1" [value]="1" [max]="99" (change)="updateQuantity($event)"/>
            </span>
            </li>
            <li>
                <strong> <label class="price">{{productDetails.price | currency }}</label></strong>
            </li>
        </ul>
        <button class="btn-primary ani" (click)="addToCart(productDetails, mode)" translate> {{ mode === 'add' ?  'home.addToCart'  : 'home.addedToCart' }}</button>
    </div>
</div>
