h1{
    text-transform: none;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 15px;
}
.registerForm label {
    margin-bottom: 0;
    text-align: right;
    color:#143546;
    font-size: 12px;
    font-weight: 400;
}
div.required .col-form-label:after {
    content: '*';
    color: red;
    margin-left: 1px;
}
input[type=radio]+label {
    position: relative;
    padding-left: 30px;
    line-height: 24px;
    margin-right: 5px;
}
input[type=radio] {
    display: none;
}
input[type=radio]:checked+label:after {
    background: #67b0d6;
    content: '';
    position: absolute;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input[type=radio]+label:before {
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;
    border: 0;
    background: #f3f4f5;
    position: absolute;
    content: '';
    box-sizing: border-box;
}
input[type=radio]+label:after {
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;
    border: 0;
    background: #67b0d6;
    position: absolute;
}

/*input[type=radio]+label:before, input[type=radio]+label:after {
    content: '';
    position: absolute;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}*//*
input[type=radio]:checked+label:after {
    background: #67b0d6;
}
input[type=radio]:checked+label:after {
    background: #67b0d6;
}
*/
.buttons input[type=checkbox] {
    position: relative;
    top: 2px;
}
input[type=checkbox]:checked+label:after {
    content: "";
}
input[type=checkbox]+label:after {
    color: #67b0d6;
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox]+label:before, input[type=checkbox]+label:after {
    content: '';
    position: absolute;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;
}
input[type=checkbox]+label:before {
    background: #e5e5e5;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
input[type=checkbox]+label:after {
    text-align: center;
    line-height: 14px;
    font-family: fontawesome;
    color: #67b0d6;
}
.terms-policy {
    color: #7f8187 !important;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-stretch: normal;
    font-size: 14px !important;
    line-height: 24px;
}
